{% extends "base.html" %}



{% block content %}

<style >
.jumbotron{
background-color:#FFF ;
color:#17202A;

}
body{
background-color:#17202A; 



}

</style>


<div class="container">

<div class="jumbotron">
<h2>About TechArena</h2>


            <h2>What is Techarena?</h2>
            

            <p>Techarena is site informating about the latest gadgets. It is a site where you can get weekly newsletter about the upcoming gadgets</p>

            <p>contact us: syedefron@gmail.com</p>
            <p><a href="www.twitter.com/syedsiddhiq07"></a>@Twitter</p>
            <p><a href="www.facebook.com/syedsiddhiq07"></a>@Facebook</p>
            

           
            
            
            





</div>


</div>









{% endblock %}