{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style >
.jumbotron{
color:#17202A;

}
body{

background-color: #17202A;
color: #FFF;



}

</style>


	<section>
			

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
					<ol class="carousel-indicators">

							<li data-target="#screenshot-carousel" data-slide.to="0" class="active"></li>
							<li data-target="#screenshot-carousel" data-slide.to="1"></li>
							<li data-target="#screenshot-carousel" data-slide.to="2"></li>
							<li data-target="#screenshot-carousel" data-slide.to="3"></li>
              <li data-target="#screenshot-carousel" data-slide.to="4"></li>
              <li data-target="#screenshot-carousel" data-slide.to="5"></li>

					</ol>

					<div class="carousel-inner">
						<div class="item active">

						<img src="{% static 'img/k2.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/k1.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/k4.png'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/k3.jpg'%}" alt="image">


						</div>
						
            <div class="item">

            <img src="{% static 'img/k4.png'%}" alt="image">


            </div>
            
            <div class="item">

            <img src="{% static 'img/k1.jpg'%}" alt="image">


            </div>
            



					</div>
					<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

						<span class="glyphicon glyphicon-chevron-left">
							

						</span>
						</a>
						<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

						<span class="glyphicon glyphicon-chevron-right">
							

						</span>
						</a>

			</div>





	</section>	


<br>
<br>







<div class="jumbotron">

        
         
            <button class="btn btn-info"><h4>Key Features</h4></button>
            <br>
            <br>

            
           <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Platforms: PS4, Xbox One,PC</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Genre: Tactical third-person shooter</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Developer: EA DICE</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Manufacturer: EA</ul>
            
            </ul>



        </div>












<div class="container">


			<div class="jumbotron">
  			<div class="row"><!-- starting row -->
  				
  					<button class="btn btn-info"><h4>Game Overview</h4></button>
  					<br>
  					<br>
            <ul>
            <p>Playing through Deadpool feels about as schizophrenic as its main character. On the one hand, it’s zany, wacky, goofy, silly, sophomoric, and many more adjectives that Thesaurus.com suggests. This is a funny game – that is, if you’re into dick jokes and casual sexism. If not, then Deadpool – the character and the game – will grate on you like a buzzsaw on hard cheese.</p>

            <p>On the other hand, much of the Deadpool gameplay experience is formulaic and safe…so safe you might think developer High Moon Studios is playing some sort of self-referential “hey, isn’t it ironic how normal this is?” meta-gag on you. But it’s not. No, Deadpool talks a big game but delivers a standard action experience that is the turducken of videogame parody: It is what it parodies what it is.</p>


          <p>For those not familiar with the glory of the one and only “Merc with a Mouth,” the spandex-clad Deadpool is himself a parody of an anti-hero. A mainstay of Marvel Comics, he was given a healing factor by the Weapon X boys (the same ones who adamantium-ized Wolverine) in an experimental procedure that left him certifiably insane – and self-aware that he is in fact a comic book character. For that reason, Deadpool also knows he’s a videogame character. In fact, he starts the story – what little there is – by forcing High Moon to make a game about him and then throws out the script it sends over to him for approval. It’s a fittingly insane approach that’s true to Deadpool’s character, even if it doesn’t make for a strong story.
            </ul>

  					
  				


  			</div><!-- End row -->
  			</div>

</div><!-- container -->



<div class="container">


			<div class="jumbotron">
			<h3>Developer-defined System Requirements</h3>
  			<div class="row"><!-- starting row -->
  				<div class="col-sm-6"><!-- starting column -->
  					<button class="btn btn-info"><h4>Minimum Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Intel Core 2 Duo E8200 @ 2.66 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:AMD Phenom X3 8750 </ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card:GeForce 8800 GT series with 512 MB RAM</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card:ATI Radeon HD4850 with 512MB RAM </ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:256 MB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 2 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS:Windows 8, Windows 7, Windows Vista, Windows XP  </ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 9</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 7 GB</ul>

            </ul>

  					
  				</div><!-- end column -->

  				

  				<div class="col-sm-6"><!-- starting column -->
  					<button class="btn btn-info"><h4>Recommended Sys Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core 2 Duo E6700 2.66GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:Athlon II X2 4400e</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card:GeForce 9600 GT 1GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card:Radeon HD 5670 1024MB </ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:1 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:4 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS:Win 7 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 35 GB</ul>
                        
            </ul>

  					
  				</div><!-- end column -->


  			</div><!-- End row -->
  			</div>

</div><!-- container -->


<div class="text-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/2WCcRRs3s6c" frameborder="0" allowfullscreen></iframe>
          


</div>
  









{%endblock%}