{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style >
.jumbotron{
color:#17202A;

}
body{

background-color: #17202A;
color: #FFF;



}

</style>


<div class="container"><!-- gallery container -->
	<section>
			

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
					<ol class="carousel-indicators">

							<li data-target="#screenshot-carousel" data-slide.to="0" class="active"></li>
							<li data-target="#screenshot-carousel" data-slide.to="1"></li>
							<li data-target="#screenshot-carousel" data-slide.to="2"></li>
							<li data-target="#screenshot-carousel" data-slide.to="3"></li>
              <li data-target="#screenshot-carousel" data-slide.to="4"></li>
              <li data-target="#screenshot-carousel" data-slide.to="5"></li>

					</ol>

					<div class="carousel-inner">
						<div class="item active">

						<img src="{% static 'img/ma1.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/ma2.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/ma3.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/ma4.jpg'%}" alt="image">


						</div>
						
            <div class="item">

            <img src="{% static 'img/ma5.jpg'%}" alt="image">


            </div>
            
            <div class="item">

            <img src="{% static 'img/ma6.jpg'%}" alt="image">


            </div>
            



					</div>
					<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

						<span class="glyphicon glyphicon-chevron-left">
							

						</span>
						</a>
						<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

						<span class="glyphicon glyphicon-chevron-right">
							

						</span>
						</a>

			</div>





	</section>	




</div><!-- gallery -->
<br>
<br>







<div class="jumbotron">

        
         
            <button class="btn btn-info"><h4>Key Features</h4></button>
            <br>
            <br>

            
           <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Platforms: PS4, Xbox One,PC</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Genre: Tactical third-person shooter</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Developer: EA DICE</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Manufacturer: EA</ul>
            
            </ul>



        </div>












<div class="container">


			<div class="jumbotron">
  			<div class="row"><!-- starting row -->
  				
  					<button class="btn btn-info"><h4>Game Overview</h4></button>
  					<br>
  					<br>
            <ul>
            <p>Mafia 2 was criticised for how it utilised the open-world of Empire Bay. Instead of filling a map with icons and distractions, it pulled players along a tight story with little room for wider exploration.Mafia 3 attempts to change this with an open-world full of activity markers. The game ditches its predecessor's Brylcreem-loving Sicilians and the story takes place two decades later in the New Bordeaux – a fictional analogue of New Orleans.</p>

            <p>New Bordeaux is gorgeous, the period’s abhorrent racial tension is respectfully replicated, and Mafia 3’s revenge story is told via some of the most convincingly-acted out cutscenes I’ve seen. It’s just a shame that you’re forced to repeat the same tedious activities to see them. For the first four hours, during its linear prologue, Mafia 3 is superb but, as soon as it embraces its open-world design, it yet again all falls apart.</p>


          <p>You learn about the game’s protagonist, Lincoln Clay, via documentary-style clips, told decades later by people affected, or through testimonies during a trial. Like Mafia 2’s protagonist, Vito Scaletta, Lincoln begins the game returning home after war, though his tour was in Vietnam.</p>
            </ul>

  					
  				


  			</div><!-- End row -->
  			</div>

</div><!-- container -->



<div class="container">


			<div class="jumbotron">
			<h3>Developer-defined System Requirements</h3>
  			<div class="row"><!-- starting row -->
  				<div class="col-sm-6"><!-- starting column -->
  					<button class="btn btn-info"><h4>Minimum Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i5-2500K 3.3GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:FX-8120</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card:GeForce GTX 660</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card:Radeon HD 7870 </ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:2 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 6 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS:Win 7 64 </ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X:DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 50 GB</ul>

            </ul>

  					
  				</div><!-- end column -->

  				

  				<div class="col-sm-6"><!-- starting column -->
  					<button class="btn btn-info"><h4>Recommended Sys Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i7-3770 4-Core 3.4GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:FX-8350</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card:GeForce GTX 1060</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card:Radeon R9 290X</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:4 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:8 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS:Win 7 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 35 GB</ul>
                        
            </ul>

  					
  				</div><!-- end column -->


  			</div><!-- End row -->
  			</div>

</div><!-- container -->


<div class="text-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/TNiHOpHbCzM" frameborder="0" allowfullscreen></iframe>
          


</div>
  









{%endblock%}