{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style >
.jumbotron{
color:#17202A;

}
body{

background-color: #17202A;
color: #FFF;



}

</style>


<div class="container"><!-- gallery container -->
	<section>
			

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
					<ol class="carousel-indicators">

							<li data-target="#screenshot-carousel" data-slide.to="0" class="active"></li>
							<li data-target="#screenshot-carousel" data-slide.to="1"></li>
							<li data-target="#screenshot-carousel" data-slide.to="2"></li>
							<li data-target="#screenshot-carousel" data-slide.to="3"></li>
              <li data-target="#screenshot-carousel" data-slide.to="4"></li>
              <li data-target="#screenshot-carousel" data-slide.to="5"></li>

					</ol>

					<div class="carousel-inner">
						<div class="item active">

						<img src="{% static 'img/sn1.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/sn2.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/sn3.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/sn4.jpg'%}" alt="image">


						</div>
            <div class="item">

            <img src="{% static 'img/sn5.jpg'%}" alt="image">


            </div>
            <div class="item">

            <img src="{% static 'img/sn6.jpg'%}" alt="image">


            </div>
						



					</div>
					<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

						<span class="glyphicon glyphicon-chevron-left">
							

						</span>
						</a>
						<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

						<span class="glyphicon glyphicon-chevron-right">
							

						</span>
						</a>

			</div>





	</section>	




</div><!-- gallery -->
<br>
<br>







<div class="jumbotron">

        <div class="row">
          <div class="col-sm-7">
            <button class="btn btn-info"><h4>Key Features</h4></button>
            <br>
            <br>

            
           <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Platforms: PS4, Xbox One, PC</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Genre: Tactical third-person shooter</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Developer: Ubisoft Paris</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Manufacturer: Ubisoft</ul>
            
            </ul>




          </div>




          
        </div>

        </div>












<div class="container">


			<div class="jumbotron">
  			<div class="row"><!-- starting row -->
  				
  					<button class="btn btn-info"><h4>Game Overview</h4></button>
  					<br>
  					<br>
            <ul>
            <p> Sniper: Ghost Warrior 3 isn’t just a Call of Duty clone. It remains entirely true to the franchise’s central gameplay pillars: challenging, long-distance sniper shots that require you to calibrate your scope, compensate for wind, adjust your stance, check your breathing, and more; tactical infiltration and exfiltration that demand patience, planning, and stealth; and a near complete lack of support should you find yourself outnumbered. Running-and-gunning — while technically possible — will still get you killed more often than not. In short, the game is geared towards a specific type of disciplined, hardcore first-person shooter fan.</p>

            <p>That said, there’s plenty that’s new or expanded compared to previous iterations, some of which should appeal to a slightly broader swath of gamers. Most importantly, Sniper 3 offers the largest, most open world the series has ever seen, one filled with dense forests, rural outposts, and even thriving cities. Structurally, it actually feels like a grittier Far Cry 4 (and incidentally, the game is powered by CryEngine 3). The basic premise casts you as a self-sufficient American special ops sniper dropped illegally behind enemy lines in the midst of a Georgian civil war. While you’ll be given several general objectives that guide you through a narrative arc, you must uncover specific missions as you go, meaning you’re simply let loose on a completely open world map dotted with activities to explore in basically any order.</p>

            <p>For example, you may have orders to assassinate a particular high value target, but you’ll need to complete smaller intel-gathering missions to learn where he’ll be and when he’ll be there. According to the devs, your target will never magically appear as a mission marker on your HUD or a glowing blip on the mini-map. It’s entirely up to you to locate your marks within the world and eliminate them in whatever fashion you deem best. In the demo I saw, one developer sniped an army commander as he paced outside of a military compound set deep in a wooded area, but I learned afterwards you could approach that same commander several days later in an urban setting and take him down with a close-quarters kill, if you so choose.</p>

            <p>In support of the open world intel-gathering that bookends these marquee sniper missions, Sniper 3 arms you with a surprisingly comprehensive toolset. First, you’ll have a personal drone that’s fully pilotable in first-person and can be deployed at any time to detect mines, mark enemies, eavesdrop on conversations, and even remotely hack security security systems. Careful, though: the drone can be detected and destroyed, and you’re especially vulnerable while flying it. Be sure to keep an eye on the detection meter, both when you’re piloting your drone and when you’re just exploring. Being spotted by a passing chopper or stumbled upon by an enemy scout will never result in an auto-fail, but your life will get much, much harder.</p>
          
            </ul>

  					
  				


  			</div><!-- End row -->
  			</div>

</div><!-- container -->



<div class="container">


			<div class="jumbotron">
			<h3>Developer-defined System Requirements</h3>
  			<div class="row"><!-- starting row -->
  				<div class="col-sm-6"><!-- starting column -->
  					<button class="btn btn-info"><h4>Minimum Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i3-530 2.9GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:Phenom II X3 715</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card: GeForce GTX 760</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card: Radeon HD 7870</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:2 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 8 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Win Vista 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 50 GB</ul>

            </ul>

  					
  				</div><!-- end column -->

  				

  				<div class="col-sm-6"><!-- starting column -->
  					<button class="btn btn-info"><h4>Predicted Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i5-2300 2.8GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:FX-8120</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card:GeForce GTX 950 2GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card: Radeon R9 370X</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:4 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 8 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Win 7 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 50 GB</ul>
                        
            </ul>

  					
  				</div><!-- end column -->


  			</div><!-- End row -->
  			</div>

</div><!-- container -->

<div class="jumbotron">
<div class="text-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/gLZDM7wdXNw" frameborder="0" allowfullscreen></iframe>
          


</div>
  


</div>






{%endblock%}