
<div class="container ">

<div class="row">
    
     <div class="col-md-3 col-sm-12 col-xs-12 portfolio-item lft new new">
        <div class="hovereffect" >
          <amp-img  src="img/mobil.jpg" alt="top 10 mobiles 2016" height="180px"></amp-img>
          <div class="overlay">
           <h2>Mobile</h2>
           <dl  class="hit-the-floor">
           
              <dd><a href="top-10-mobiles.html"><font size="6" color="white">Enter</font></a></dd>
                
                </dl>
         
          </div>
       </div>
       <!-- <hr class="hr"> -->
     </div>
  
  <div class=" col-md-3  col-sm-12 col-xs-12 portfolio-item lft new new">
    <div class="hovereffect" >
        <amp-img class="img-responsive" src="img/laptop.png" alt="top 10 laptops 2016" height="180px"></amp-img>
        <div class="overlay ">
           <h2>Laptop</h2>
           <dl  class="hit-the-floor">
           
                <dd><a href="top-10-laptops.html"><font size="6" color="white">Enter</font></a></dd>
                
                </dl>
        
        </div>
    </div>
  </div>

  
  <div class=" col-md-3  col-sm-12 col-xs-12 lft new portfolio-item">
    <div class="hovereffect" >
        <amp-img class="img-responsive" src="img/auto.jpg" alt="top 10 cars 2016" height="180px"></amp-img>
        <div class="overlay">
           <h2>Auto-Mobile</h2>
           <dl  class="hit-the-floor">
           
              
                <dd><a href="top-10-cars.html"><font size="5" color="white">Cars</font></a></dd>
                <dd><a href="top-10-bikes.html"><font size="5" color="white">Bikes</font></a></dd>
                
                </dl>
           
        </div>
    </div>
  </div>
  <div class=" col-md-3  col-sm-12 col-xs-12 lft new portfolio-item">
    <div class="hovereffect" >
        <amp-img class="img-responsive gry" src="img/haloc.jpg" alt="top 10 games 2016" height="180px"></amp-img>
        <div class="overlay" >
           <h2>Games</h2>
          <dl  class="hit-the-floor">
           
              
                <dd><a href="top-10-pcgames-2016.html"><font size="4" color="white">PC</font></a></dd><br>
                <dd><a href="top-10-ps4games-2016.html"><font size="4" color="white">PS</font></a></dd><br>
                <dd><a href="top-10-xboxgames-2016.html"><font size="4" color="white">XBOX</font></a></dd><br>
                
                </dl>
          
        </div>
    </div>
  </div>
</div>