

{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<div class="container"><!-- container1 -->


<ul class="nav nav-tabs">


	<li class="active"><a href="#apple" data-toggle="tab">Dell</a></li>
	<li><a href="#s" data-toggle="tab">Hp</a></li>
	<li><a href="#x" data-toggle="tab">Acer</a></li>
	
</ul>

<div class="tab-content"><!-- tab content -->




	<div class="tab-pane active" id="apple"><!-- tab1 -->





<div class ="jumbotron"><!-- jju,m1 -->


  	<div class="container text-center">	<!-- jumv container -->


  	<div class="row"><!-- startimg row -->
  	<div class="col-sm-4"><!-- starting column -->
    <img src="{% static 'img/dell.png'%}" alt="image" />  	

  	</div><!-- end column -->
  	<div class="col-sm-8"><!-- starting column -->
  	
  	<h3>Dell Inc is an American privately owned multinational computer technology company based in Round Rock, Texas, United States, that developed, sold, repaired, and supported computers and related products and services. Eponymously named after its founder, Michael Dell, the company was one of the largest technological corporations in the world, employing more than 103,300 people worldwide. </h3>

  	</div><!-- end column -->
  		
  		</div><!-- end row -->

  		</div><!-- end container -->
</div><!-- end jum1 -->




<div class="container"><!-- starting gallery -->

	<section><!-- starting section -->

			<div class="page-header" ><!-- gallery -->

				<h2>Gallery.</h2>

			</div>

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
					<ol class="carousel-indicators">

							<li data-target="#screenshot-carousel" data-slide.to="0" class="active"></li>
							<li data-target="#screenshot-carousel" data-slide.to="1"></li>
							<li data-target="#screenshot-carousel" data-slide.to="2"></li>
							<li data-target="#screenshot-carousel" data-slide.to="3"></li>

					</ol>

					<div class="carousel-inner">
						<div class="item active">

						<img src="{% static 'img/13.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/14.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/15.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/16.jpg'%}" alt="image">


						</div>
						



					</div>
					<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

						<span class="glyphicon glyphicon-chevron-left">
							

						</span>
						</a>
						<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

						<span class="glyphicon glyphicon-chevron-right">
							

						</span>
						</a>

			</div>





	</section>	<!-- end section -->




</div> <!-- end gallery container -->

<br>
<br>
<br>




<div class="container"><!--features container -->
	<!-- features -->
<h2><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Features and Specs</h2>
<br>
<br>
  			<div class="row"><!-- starting row -->
  				<div class="col-sm-7"><!-- starting column -->
  					<h3>Dell XPS 13 Core i5 (Z560036SIN9)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i5-6200U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 2.3 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	8GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1866Mhz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	256GB (SSD)</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	13.3 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:Intel HD Graphics 520</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):1920 x 1080</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Windows 10 Home</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:1.29 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div><!-- end column -->

  				<div class="col-sm-5"><!-- img -->
  				<a href="{% url 'home' %}"><img src="{% static 'img/d1.jpg'%}" class="img-responsive" alt="image"></a>
  				</div>


  			</div><!-- End row -->




  			<div class="row"><!-- starting row -->
					<div class="col-sm-7"><!-- colunn -->
  					<h3>Dell XPS 13 Core i7 (Z560035HIN9)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i7-6500U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 2.5 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	8GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1866Mhz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	256GB (SSD)</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	13.3 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:Intel HD Graphics 520</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):1920 x 1080</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery (Type):Li-Ion</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery Cell :4 Cell</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Windows 10 Home</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:1.29 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div>
  				<div class="col-sm-5">
  				<img src="{% static 'img/d2.jpg'%}" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->




  			<div class="row">
  				<div class="col-sm-7">
  					<h3>Dell Inspiron 15 3542 (3542541TB2BT)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i5-42100U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.7 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1600 MHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	1TB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	15.6 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:NVIDIA Geforce 840M 2GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):1366 x 768</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery (Type):Li-Ion</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery Cell :4 Cell</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Windows 8.1</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:1.29 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div>
  				<div class="col-sm-5">
  				<img src="{% static 'img/d3.jpg'%}" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->



  			<div class="row">
  				<div class="col-sm-7">
  					<h3>Dell Inspiron 15 3542 (354234500iSU)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i3-4005U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.7 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1600 MHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	500GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Speed (RPM) 	5400</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	15.6 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:Intel HD Graphics 4400</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):381 x 267 x 25.6 mm</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery (Type):Li-Ion</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery Cell :4 Cell</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Ubuntu</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:2.4 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div>
  				<div class="col-sm-5">
  				<img src="{% static 'img/d4.jpg'%}" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->


</div><!--features -->


</div><!-- end tab1 -->



	<div class="tab-pane active" id="s"><!-- tab1 -->





<div class ="jumbotron"><!-- jju,m1 -->


  	<div class="container text-center">	<!-- jumv container -->


  	<div class="row"><!-- startimg row -->
  	<div class="col-sm-4"><!-- starting column -->
    <img src="{% static 'img/dell.png'%}" alt="image" />  	

  	</div><!-- end column -->
  	<div class="col-sm-8"><!-- starting column -->
  	
  	<h3>Dell Inc is an American privately owned multinational computer technology company based in Round Rock, Texas, United States, that developed, sold, repaired, and supported computers and related products and services. Eponymously named after its founder, Michael Dell, the company was one of the largest technological corporations in the world, employing more than 103,300 people worldwide. </h3>

  	</div><!-- end column -->
  		
  		</div><!-- end row -->

  		</div><!-- end container -->
</div><!-- end jum1 -->




<div class="container"><!-- starting gallery -->

	<section><!-- starting section -->

			<div class="page-header" ><!-- gallery -->

				<h2>Gallery.</h2>

			</div>

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
					<ol class="carousel-indicators">

							<li data-target="#screenshot-carousel" data-slide.to="0" class="active"></li>
							<li data-target="#screenshot-carousel" data-slide.to="1"></li>
							<li data-target="#screenshot-carousel" data-slide.to="2"></li>
							<li data-target="#screenshot-carousel" data-slide.to="3"></li>

					</ol>

					<div class="carousel-inner">
						<div class="item active">

						<img src="{% static 'img/13.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/14.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/15.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/16.jpg'%}" alt="image">


						</div>
						



					</div>
					<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

						<span class="glyphicon glyphicon-chevron-left">
							

						</span>
						</a>
						<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

						<span class="glyphicon glyphicon-chevron-right">
							

						</span>
						</a>

			</div>





	</section>	<!-- end section -->




</div> <!-- end gallery container -->

<br>
<br>
<br>




<div class="container"><!--features container -->
	<!-- features -->
<h2><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Features and Specs</h2>
<br>
<br>
  			<div class="row"><!-- starting row -->
  				<div class="col-sm-7"><!-- starting column -->
  					<h3>Dell XPS 13 Core i5 (Z560036SIN9)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i5-6200U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 2.3 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	8GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1866Mhz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	256GB (SSD)</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	13.3 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:Intel HD Graphics 520</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):1920 x 1080</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Windows 10 Home</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:1.29 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div><!-- end column -->

  				<div class="col-sm-5"><!-- img -->
  				<a href="{% url 'home' %}"><img src="{% static 'img/d1.jpg'%}" class="img-responsive" alt="image"></a>
  				</div>


  			</div><!-- End row -->




  			<div class="row"><!-- starting row -->
					<div class="col-sm-7"><!-- colunn -->
  					<h3>Dell XPS 13 Core i7 (Z560035HIN9)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i7-6500U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 2.5 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	8GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1866Mhz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	256GB (SSD)</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	13.3 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:Intel HD Graphics 520</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):1920 x 1080</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery (Type):Li-Ion</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery Cell :4 Cell</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Windows 10 Home</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:1.29 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div>
  				<div class="col-sm-5">
  				<img src="{% static 'img/d2.jpg'%}" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->




  			<div class="row">
  				<div class="col-sm-7">
  					<h3>Dell Inspiron 15 3542 (3542541TB2BT)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i5-42100U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.7 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1600 MHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	1TB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	15.6 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:NVIDIA Geforce 840M 2GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):1366 x 768</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery (Type):Li-Ion</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery Cell :4 Cell</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Windows 8.1</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:1.29 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div>
  				<div class="col-sm-5">
  				<img src="{% static 'img/d3.jpg'%}" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->



  			<div class="row">
  				<div class="col-sm-7">
  					<h3>Dell Inspiron 15 3542 (354234500iSU)</h3>
            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor: Intel Core i3-4005U</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.7 GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM:	4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Type: DDR3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM Speed: 1600 MHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Inbuilt HDD:	500GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Speed (RPM) 	5400</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Processor Speed: 1.6 Ghz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Screen Size:	15.6 inches</ul>  
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> GPU Model:Intel HD Graphics 4400</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Maximum Display Resolution (dpi):381 x 267 x 25.6 mm</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery (Type):Li-Ion</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Battery Cell :4 Cell</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Ubuntu</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Weight:2.4 Kg</ul> 
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Warranty Period :1 Year</ul> 
            </ul>

  					
  				</div>
  				<div class="col-sm-5">
  				<img src="{% static 'img/d4.jpg'%}" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->


</div><!--features -->


</div><!-- end tab1 -->





	




</div><!-- tabcontent -->

</div><!-- con1 -->


{% endblock %}