{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style >
.jumbotron{
color:#17202A;

}
body{

background-color: #17202A;
color: #FFF;



}

</style>


<div class="container"><!-- gallery container -->
	<section>
			

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
					<ol class="carousel-indicators">

							<li data-target="#screenshot-carousel" data-slide.to="0" class="active"></li>
							<li data-target="#screenshot-carousel" data-slide.to="1"></li>
							<li data-target="#screenshot-carousel" data-slide.to="2"></li>
							<li data-target="#screenshot-carousel" data-slide.to="3"></li>

					</ol>

					<div class="carousel-inner">
						<div class="item active">

						<img src="{% static 'img/tom1.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/tom2.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/tom3.jpg'%}" alt="image">


						</div>
						<div class="item">

						<img src="{% static 'img/tom4.jpg'%}" alt="image">


						</div>
						



					</div>
					<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

						<span class="glyphicon glyphicon-chevron-left">
							

						</span>
						</a>
						<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

						<span class="glyphicon glyphicon-chevron-right">
							

						</span>
						</a>

			</div>





	</section>	




</div><!-- gallery -->
<br>
<br>







<div class="jumbotron">

        <div class="row">
          <div class="col-sm-7">
            <button class="btn btn-info"><h4>Key Features</h4></button>
            <br>
            <br>

            
           <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Platforms: PS4, Xbox One, PC</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Genre: Tactical third-person shooter</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Developer: Ubisoft Paris</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Manufacturer: Ubisoft</ul>
            
            </ul>




          </div>




          
        </div>

        </div>












<div class="container">


			<div class="jumbotron">
  			<div class="row"><!-- starting row -->
  				
  					<button class="btn btn-info"><h4>Game Overview</h4></button>
  					<br>
  					<br>
            <ul>
            <p>After The Division's success, Ubisoft is taking another stab at the open-world tactical shooter in the form of Tom Clancy's Ghost Recon Wildlands. Except, this time, you'll be riding across the desert instead of trudging through the plague-ridden snow. Acting as the tenth installment in the Ghost Recon franchise and the very first with a fully-featured open world, Wildlands takes us to the open plains of Bolivia.</p>
            <p>Bolivia is the cocaine capital of the world, fueled by the Santa Blanca Drug Cartel with operations spread across the entire country. Society has been twisted into a narcotics fueled wasteland, despite the lovely weather. This is bad news for the United States Government, who respond by dispatching an Elite Operations Unit (that's you) to deal with the growing drug epidemic.</p>

            <p>Set in the modern day, Wildlands does away with the futuristic setting of previous games in favour of a gritty, more realistic landscape. With a variety of weapons, vehicles and abilities alongside nine unique types of terrain to traverse; you and your friends will have plenty of challenging missions to keep you entertained. Bolivia is fully explorable with outposts, NPCs and missions to interact with. This can all be done solo or with a group of savvy operators working by your side. Wildlands is set to continue Ubisoft's impressive streak of immersive open-world experiences.</p>
          
            </ul>

  					
  				


  			</div><!-- End row -->
  			</div>

</div><!-- container -->



<div class="container">


			<div class="jumbotron">
			<h3>Developer-defined System Requirements</h3>
  			<div class="row"><!-- starting row -->
  				<div class="col-sm-4"><!-- starting column -->
  					<button class="btn btn-info"><h4>Minimum Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i5-2400S 2.5GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:FX-4350</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card: GeForce GTX 660</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card: Radeon R7 260X v3</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:2 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 4 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Win Vista 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 35 GB</ul>

            </ul>

  					
  				</div><!-- end column -->

  				<div class="col-sm-4"><!-- starting column -->
  					<button class="btn btn-info"><h4>Gd Adjusted Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i5-6400 2.7GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:FX-8150</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card: GeForce GTX 960 2GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card: Radeon RX 460 4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:2 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 6 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Win 7 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 35 GB</ul>
                        
            </ul>

  					
  				</div><!-- end column -->


  				<div class="col-sm-4"><!-- starting column -->
  					<button class="btn btn-info"><h4>Predicted Requirements</h4></button>
  					<br>
  					<br>

            <ul>

            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Intel CPU:Core i7-3770 4-Core 3.4GHz</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>AMD CPU:FX-8350</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Nvidia Graphics Card:GeForce GTX 970 4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> AMD Graphics Card: Radeon R9 FURY 4GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> VRAM:4 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> RAM: 8 GB</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> OS: Win 10 64</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Direct X: DX 11</ul>
            <ul><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> HDD Space: 35 GB</ul>
                        
            </ul>

  					
  				</div><!-- end column -->


  			</div><!-- End row -->
  			</div>

</div><!-- container -->

<div class="jumbotron">
<div class="text-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/9fxjFTKpErM" frameborder="0" allowfullscreen></iframe>
          


</div>
  


</div>






{%endblock%}